<!-- Editing the stylesheet -->
<div class="maintitle">
	<%= link_to 'Back', admin_stylesheets_path %> 
</div>
<Br />

<table border="0" cellspacing="1" cellpadding="0" class="fborder">
<tr>
<td class="maintitle">Edit Stylesheet</td>
</tr>

<tr>
<td class="subforum">
</td>
</tr> 

<tr>
<td class="row1">

<%= form_for ([:admin,@stylesheet]),  url: { action: "update" } do |f| %>

	<%= f.label :code %><br />
    <%= f.text_area(:code, :cols => 40, :rows => 20) %>
	
     <center><%= f.submit "Edit Layout", class: "buttons" %></center>

<% end %>

</td>
</tr>
</table>