<!-- HTML page to edit categories. -->


<div class="maintitle">
	<%= link_to 'Back', admin_categories_path %> 
</div>

<table border="0" cellspacing="1" cellpadding="0" class="fborder">
<tr>
<td class="maintitle">Edit <%= @category.name %></td>
</tr>

<tr>
<td class="subforum">
</td>
</tr> 

<tr>
<td class="row1">

<%= form_for([:admin,@category]) do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  
    <center><%= f.submit "Edit Category", class: "buttons" %></center>
  
<% end %>


</td>
</tr>
</table>