<%= notice %>

<!-- When you click on a forum, you can see it and edit it.  -->

<div class="maintitle">
	<%= link_to 'Back', admin_categories_path %> |
  <%= link_to 'Edit', edit_admin_forum_path(@forum) %>
</div> <Br />

<table width="100%" cellspacing="1" cellpadding="0" class="fborder">
	<tr>
    	<td class="maintitle" colspan="2">
 		 <%= @forum.name %>
 		</td>
 	</tr>
  <tr>
    <td class="row1">
      <%= @forum.description %>
    </td>
  </tr>


 </table>

